<!--<footer class="page-footer grey darken-4">
	<div id="top-footer" class="row">
		<div class="grey-text text-lighten-4 right">
			<a id="logo"><img id="logo" src="../../../../public/img/logo.png" /></a>
		</div>
	</div>
	
<div class="row">
			<div class="col l6 pull-l2 s12">
				<img src="../../../../public/img/logo.png" />
				<h6 class="grey-text text-lighten-4">
					Avda. Pascual Echagüe 661 (3100) Paraná - Entre Ríos
				</h6>
				<h6 class="grey-text text-lighten-3"> Tel. 00 54 343 4320188 / 4227810 LINEAS ROTATIVAS </h6>
				<h6 class="grey-text text-lighten-3"> info@leivahnos.com.ar </h6>
			</div>			
		</div>


	<div class="footer-copyright grey darken-4">

	</div>
</footer>-->




<footer class="site-footer">
 <a id="logo"><img id="logo" src="../../../../public/img/logo.png" /></a>
</footer>