<footer class="page-footer grey darken-3">
	<div id="top-footer" class="container">
		<div class="row">
			<div class="col l6 pull-l2 s12">
				<img src="../../../../public/img/logo.png" />
				<h6 class="grey-text text-lighten-4">
					Avda. Pascual Echagüe 661 (3100) Paraná - Entre Ríos
				</h6>
				<h6 class="grey-text text-lighten-3"> Tel. 00 54 343 4320188 / 4227810 LINEAS ROTATIVAS </h6>
				<h6 class="grey-text text-lighten-3"> info@leivahnos.com.ar </h6>
			</div>
			<div class="col l4 offset-l2 s12">
				<!--<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">buscatucarga.com.ar</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">leivahnos.com.ar</a></li>
				</ul>-->
			</div>
		</div>
	</div>
	<div class="footer-copyright grey darken-4">
		<div class="row">
			<div id="cr" class="grey-text text-lighten-4 right">
				© 2016 Leiva Hnos.
			</div>
		</div>
	</div>
</footer>