<div class="container s12">
	<form #productoForm="ngForm">

		<div class="row">
			<div class="col s12 m12 l6">
				<!--Código-->
				<div class="input-field col s12">
					<i class="material-icons prefix">info_outline_circle</i>
					<input id="codigoExterno" type="text" placeholder="Código" class="validate" [(ngModel)]="newProducto.codigoExterno" name="codigoExterno"
						required>
				</div>

				<!--Título-->
				<div class="input-field col s12">
					<i class="material-icons prefix">title_circle</i>
					<input id="nombre" type="text" placeholder="Título" class="validate" [(ngModel)]="newProducto.nombre" name="nombre" required>
				</div>

				<!--Peso-->
				<div class="input-field col s12">
					<i class="material-icons prefix">get_app_circle</i>
					<input id="peso" type="number" placeholder="Peso" class="validate" [(ngModel)]="newProducto.peso" name="peso" required>
				</div>

				<!--Tarifa-->
				<div class="input-field col s12">
					<i class="material-icons prefix">monetization_on</i>
					<input id="tarifa" type="number" placeholder="Tarifa" min="0.00" step="0.01" value="00.00" class="validate" [(ngModel)]="newProducto.tarifa"
						name="tarifa" required>
				</div>

				<!--Forma de Pago-->
				<div class="input-field col s12">
					<i class="material-icons prefix">local_atm_circle</i>
					<input id="formaPago" type="text" placeholder="Forma de pago" class="validate" [(ngModel)]="newProducto.formaPago" name="formaPago"
						required>
				</div>

				<!--Descripción-->
				<div class="input-field col s12">
					<i class="material-icons prefix">description_circle</i>
					<textarea id="descripcion" placeholder="Descripción" class="materialize-textarea validate" [(ngModel)]="newProducto.descripcion"
						name="descripcion">
				</textarea>
				</div>
			</div>

			<div class="col s12 m12 l6">
				<!--Mapa (Origen / Destino)-->
				<div id="mapa">
					<map-root [editable]='true' #map [validCoords]="validCoords" (validCoordsChange)="validCoordsChange($event);"></map-root>
				</div>
			</div>

			<div class="col s12">
				<br>
				<!-- Modal Trigger -->
				<a id="modal-btn" class="btn waves-effect waves-light red lighten-2 modal-trigger" data-target="modal1" (click)="onSubmit(productoForm)">CREAR</a>

				<!-- Modal Structure -->
				<div id="modal1" class="modal">
					<div [hidden]="!submitted" class="modal-content">
						<h4>Producto creado con éxito.</h4>
						<p>Presione aceptar para volver</p>
					</div>
					<div [hidden]="submitted" class="modal-content">
						<h4>Error al cargar al producto.</h4>
						<p>Algún campo no se ha completado correctamente.</p>
					</div>
					<div class="modal-footer">
						<a class="btn waves-effect waves-light red lighten-2 modal-close" (click)="resetFormAndGoBack(productoForm)"> ACEPTAR</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>       