<header>
	<!-- Dropdown Usuario Structure -->
	<ul id="dropdownUsuario" class="dropdown-content">
		<li routerLinkActive="active">
			<a routerLink="perfil">
				<i class="material-icons left">account_circle</i>Perfil
			</a>
		</li>
		<li>
			<a routerLink="/" (click)="logOut()"><i class="material-icons left">backspace</i>Salir</a></li>
	</ul>
	<!-- Dropdown Productos Structure -->
	<ul id="dropdownProductos" class="dropdown-content">
		<li routerLinkActive="active">
			<a routerLink="producto-form">
				<i class="material-icons left">add_circle</i>Agregar</a>
		</li>
		<li routerLinkActive="active">
			<a routerLink="productos">
				<i class="material-icons left">list</i>Listar</a>
		</li>
	</ul>

	<div class="navbar">
		<nav>
			<div class="nav-wrapper red">
				<!-- <a href="#!" class="brand-logo text-white">	
						{{title}}
					</a> -->
				<!--<span id="bienvenido" *ngIf="this.authService.loggedIn() && me">Usuario: {{me.apellido}}, {{me.nombre}}</span>-->
				<a [hidden]="!this.authService.loggedIn()" href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul [hidden]="!this.authService.loggedIn()" class="right hide-on-med-and-down">
					<li routerLinkActive="active">
						<a routerLink="home"><i class="material-icons left">home</i>Home</a>
					</li>
					<li routerLinkActive="active">
						<a routerLink="mapa"><i class="material-icons left">language</i>Mapa</a>
					</li>
					<!-- Dropdown Producto Trigger -->
					<li [class.active]="this.router.url === '/producto-form' || this.router.url === '/productos' || this.router.url === '/producto-detail'">
						<a class="dropdown-button" data-activates="dropdownProductos" data-hover="true" data-beloworigin="true">
							<i class="material-icons left">local_shipping</i>Productos
						</a>
					</li>
					<li routerLinkActive="active">
						<a routerLink="transportistas">
							<i class="material-icons left">supervisor_account</i>Transportes</a>
					</li>
					<!-- Dropdown Usuario Trigger -->
					<li [class.active]="this.router.url === '/perfil'">
						<a class="dropdown-button" data-activates="dropdownUsuario" data-hover="true" data-beloworigin="true">
							<i class="material-icons left">account_circle</i>Usuario
						</a>
					</li>
				</ul>
				<ul id="side-menu" class="side-nav">
					<li class="no-padding">
						<ul class="collapsible collapsible-accordion">
							<li routerLinkActive="active">
								<a routerLink="home"><i class="material-icons left">home</i>Home</a>
							</li>
							<li routerLinkActive="active">
								<a routerLink="mapa"><i class="material-icons left">language</i>Mapa</a>
							</li>
							<li class="bold">
								<a class="collapsible-header  waves-effect waves-teal">
									<i class="material-icons left">local_shipping</i>Productos</a>
								<div class="collapsible-body" style="">
									<ul>
										<li>
											<a routerLink="producto-form">
												<i class="material-icons left">add_circle</i>Agregar</a>
										</li>
										<li>
											<a routerLink="productos">
												<i class="material-icons left">list</i>Listar</a>
										</li>
									</ul>
								</div>
							</li>
							<li routerLinkActive="active">
								<a routerLink="transportistas">
									<i class="material-icons left">supervisor_account</i>Transportes</a>
							</li>
							<li class="bold">
								<a class="collapsible-header  waves-effect waves-teal">
									<i class="material-icons left">account_circle</i>Usuario</a>
								<div class="collapsible-body" style="">
									<ul>
										<li>
											<a routerLink="perfil">
												<i class="material-icons left">perm_identity</i>Perfil</a>
										</li>
										<li>
											<a routerLink="/" (click)="logOut()">
												<i class="material-icons left">backspace</i>Salir</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>