<div class="container" *ngIf="transportista">
	<div class="row">
		<p><strong>Nombre: </strong>{{transportista.chofer}}
			<strong>Empresa: </strong> {{transportista.transporte.nombre}}
			<strong>Tel. Empresa: </strong> {{transportista.transporte.telefono}}
			<strong>CUIT:</strong> {{transportista.transporte.cuit}}
			<strong>CUIL:</strong> {{transportista.cuil}}
			<strong>Cel.:</strong> {{transportista.celular}}
			<strong>Tipo Camión:</strong> {{transportista.tipoCamion}}
			<strong>Patente Chasis:</strong> {{transportista.patenteChasis}}
			<strong>Patente Acoplado:</strong> {{transportista.patenteAcoplado}}
			<strong>Estado:</strong> {{transportista.estado}} </p>
	</div>

	<div class="row" id="controls">
		<a class="waves-effect waves-light btn red" (click)="gotoEditTransportista()">
			<i class="material-icons left">mode_edit</i>EDITAR
		</a>
		<a class="waves-effect waves-light btn red" (click)="deleteTransportista()">
			<i class="material-icons left">delete</i>ELIMINAR
		</a>
		<a class="waves-effect waves-light btn red" (click)="goBack()">
			<i class="material-icons left">skip_previous</i>VOLVER
		</a>
	</div>
	<div class="col s12 m12 l7">
		<h4>Cargas realizadas</h4>
		<ng2-table *ngIf="productosTransportados.length" [showInput]="false" [data]="this.productosTransportados" [sujeto]="'producto'"
			[columns]="columns"></ng2-table>
		<h5 [hidden]="!productosTransportados.length<1">No existen cargas asociadas a este transportista.</h5>
	</div>
</div>