<div [hidden]="!showInput">
	<div class="search">
		<span class="fa fa-search"></span>
		<input id="search" type="text" placeholder="Filtrar por..." *ngIf="config.filtering" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)"
			required>
	</div>	
</div>

<ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
</ng-table>

<pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
	[maxSize]="maxSize"  [previousText]="'<'" [nextText]="'>'" [boundaryLinks]="false" [directionLinks]="true"
	[rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
</pagination>